{# HG News Views Template #}

{# Attached Style Sheet #}
{{ attach_library('hg_reader/hg_reader') }}

{# Grab thumbnails so we don't blow out the page. #}
{% if node.get('field_hg_images').get(0).entity.uri.value is not empty %}
{% set thumbnail = {
  '#theme':      'image_style',
  '#style_name': 'thumbnail',
  '#uri':        node.get('field_hg_images').get(0).entity.uri.value,
  '#alt':        node.get('field_hg_images').get(0).alt,
  '#attributes': { class: 'float-left mr-3 mt-0 mb-0' },
} %}
{% endif %}

{# Content Start #}
{# Set Div wrapper ID #}
<div id="mercury" class="mercury row mb-5 clearfix">

  {# Main column #}
  <div class="col">
  {% if thumbnail is not empty %}
    <div class="image">
      {{ thumbnail|render }}
    </div>
  {% endif %}

    {# Title #}
    {% if node.title.value is not empty %}
      <div class="hg-title">
        <a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><h3>{{ node.title.value }}</h3></a>
      </div>
    {% endif %}

    {# Summary Sentence #}
    {% if node.field_hg_summary_sentence.value is not empty %}
      <div class="summary-sentence">
        {{ node.field_hg_summary_sentence.value }}
      </div>
    {% elseif node.field_hg_summary.value is not empty %}
      <div class="summary">
        {% autoescape false %}
          {{ node.field_hg_summary.value }}
        {% endautoescape %}
      </div>
    {% endif %}

    {# Link to Content #}
    <div class="mx-1 my-4">
      <a class="btn btn-secondary" aria-label="Read {{ node.title.value }}" href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ 'Read article'|t }}</a>
    </div>

  </div>
</div>
